body {
  background-color: #fefefe;
  color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input {
  border: 1px solid #999;
  border-radius: 5px;
  margin-inline: 5px;
  height: 2.5rem;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #a542d4;
  color: #fefefe;
  padding: 0.75rem;
  text-transform: uppercase;
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  min-width: 24rem;
  border: 1px solid #999;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.w-half {
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}

.my-1 {
  margin-block: 1rem;
}
